<section id="widget-grid">
    <div class="row">
        <article class="col col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-history"></i></span>
                    <h2>Surat Jalan</h2>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="minimize">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="!ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="maximize">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar" ng-show="ctrl.showToolbar">
                            <form class="smart-form">
                                <legend>Filter data</legend>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Spb" ng-model="ctrl.filters.spbNumber" />
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Penerima" ng-model="ctrl.filters.receiverName" />
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.sender"
                                                       placeholder="Pengirim"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('client', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="senderFilter" class="form-control" />
                                                <i ng-show="senderFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.paymentType"
                                                       placeholder="Cara Bayar"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('paymentType', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="paymentTypeFilter" class="form-control" />
                                                <i ng-show="paymentTypeFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Dari Tanggal"
                                                           id="from-transaction-date" type="text" ng-model="ctrl.filters.from" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Sampai Tanggal"
                                                           id="to-transaction-date" type="text" ng-model="ctrl.filters.to" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.regionSource"
                                                       ng-click="ctrl.filters.regionDest = null"
                                                       placeholder="Regional Asal"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="regionSourceFilter" class="form-control" />
                                                <i ng-show="regionSourceFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.regionDest"
                                                       ng-click="ctrl.filters.regionSource = null"
                                                       placeholder="Regional Tujuan"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="regionDestFilter" class="form-control" />
                                                <i ng-show="regionDestFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <select class="form-control" ng-model="ctrl.filters.transactionStatus">
                                                    <option value="">&nbsp Status</option>
                                                    <option value="Belum Terekap">&nbsp Belum Terekap</option>
                                                    <option value="Terekap Sebagian">&nbsp Terekap Sebagian</option>
                                                    <option value="Terekap">&nbsp Terekap</option>
                                                    <option value="Terkirim Sebagian">&nbsp Teririm Sebagian</option>
                                                    <option value="Terkirim">&nbsp Terkirim</option>
                                                    <option value="Retur">&nbsp Retur</option>
                                                    <option value="SJ Balik">&nbsp SJ Balik</option>
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6" ng-show="ctrl.viewType == 1">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                        <i class="fa fa-search"></i> Cari
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6" ng-show="ctrl.viewType == 2">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.viewDeliveryOrder()">
                                        <i class="fa fa-arrow-left"></i> Kembali
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                            ng-change="ctrl.filter()" style="float:right; width:15%;"  ng-show="ctrl.viewType == 1" to-number>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox" ng-show="ctrl.viewType == 1">
                                <thead>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 7%;">Tanggal</th>
                                        <th style="text-align: center; width: 5%;">Spb</th>
                                        <th style="text-align: center; width: 9%;">Pengirim</th>
                                        <th style="text-align: center; width: 8%;">Penerima</th>
                                        <th style="text-align: center; width: 4%;">Tujuan</th>
                                        <th style="text-align: center; width: 4%;">Cara Bayar</th>
                                        <th style="text-align: center; width: 2%;">Berat</th>
                                        <th style="text-align: center; width: 2%;">Koli</th>
                                        <th style="text-align: center; width: 9%;">Item</th>
                                        <th style="text-align: center; width: 10%;">Status</th>
                                        <th style="text-align: center; width: 5%;">Info</th>
                                    </tr>
                                    <tr ng-show="ctrl.loadingData" style="color:black;">
                                        <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                            <img src="../assets/img/ajax-loader.gif">
                                        </td>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="entity in ctrl.entities">
                                    <tr ng-repeat="item in entity.items" ng-show="!ctrl.loadingData" style="color:black;">
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.date | date:'dd-MM-yyyy'}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.spbNumber}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.sender.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.receiver.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.destination.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.payment.type.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.weight}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.colli}}
                                        </td>
                                        <td>{{item.content}}</td>
                                        <td ng-if="entity.returned && $first" rowspan="{{entity.items.length}}">
                                            <p ng-if="entity.confirmed" style="text-align:center;" class="label label-pink txt-color-white">
                                                SJ Balik
                                            </p>
                                            <p ng-if="!entity.confirmed" style="text-align:center;" class="label label-purple txt-color-white">
                                                Retur
                                            </p>
                                        </td>
                                        <td ng-if="!entity.returned">
                                            <p ng-if="item.status == 'Belum Terekap'" style="text-align:center;" class="label label-grey txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terekap Sebagian'" style="text-align:center;" class="label label-warning txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.quantity-item.colli.available}}/{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terekap'" style="text-align:center;" class="label label-success txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terkirim Sebagian'" style="text-align:center;" class="label label-warning txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.delivered}}/{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terkirim'" style="text-align:center;" class="label label-info txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.delivered}}</span>
                                            </p>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="#" class="txt-color-white btn-sm btn-primary" title="Edit" ng-click="ctrl.viewItemInfo(entity, item)">
                                                <i class="fa fa-exclamation"></i> Info
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" ng-show="ctrl.viewType == 2">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr class="danger" style="color:black;">
                                        <th colspan="6" style="text-align: center; width: 1%;"><strong>INFO</strong></th>
                                    </tr>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 5%;">No. SPB</th>
                                        <th style="text-align: center; width: 5%;">Telp Pengirim</th>
                                        <th style="text-align: center; width: 5%;">Supir Pengirim - Pickup</th>
                                        <th style="text-align: center; width: 5%;">PO</th>
                                        <th style="text-align: center; width: 5%;">Partner</th>
                                        <th style="text-align: center; width: 5%;">User</th>
                                    </tr>
                                    <tr style="color:black; text-align: center;">
                                        <td>
                                            {{ctrl.selectedEntity.spbNumber}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.sender.contact}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.driver.sender}} - {{ctrl.selectedEntity.driver.pickup}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.notes.po}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.partner.name}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.modified.user.name}}
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <br />
                        <div class="table-responsive" ng-show="ctrl.viewType == 2 && recap.items.recapitulations.quantity" ng-repeat="recap in ctrl.recapitulationInfo">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr class="success" style="color:black;">
                                        <th colspan="6" style="text-align: center; width: 1%;"><strong>REKAPITULASI</strong></th>
                                    </tr>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 5%;">Tgl Rekap</th>
                                        <th style="text-align: center; width: 5%;">Tgl Berangkat</th>
                                        <th style="text-align: center; width: 5%;">Jenis Kereta</th>
                                        <th style="text-align: center; width: 5%;">Supir/Pengawal</th>
                                        <th style="text-align: center; width: 5%;">Keterangan</th>
                                        <th style="text-align: center; width: 5%;">User</th>
                                    </tr>
                                    <tr style="color:black; text-align: center;">
                                        <td>
                                            {{recap.items.recapitulations.createdDate ? recap.items.recapitulations.createdDate : recap.items.recapitulations.date | date: 'dd-MM-yyyy'}}
                                        </td>
                                        <td>
                                            {{recap.items.recapitulations.departureDate | date: 'dd-MM-yyyy'}}
                                        </td>
                                        <td>
                                            {{recap.trainType[0].name}}
                                        </td>
                                        <td>
                                            {{recap.driver[0].name}}
                                        </td>
                                        <td>
                                            {{recap.items.recapitulations.notes}}
                                        </td>
                                        <td>
                                            {{recap.user[0].name}}
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <br />
                        <div class="table-responsive" ng-show="ctrl.viewType == 2 && delivery.items.deliveries.quantity" ng-repeat="delivery in ctrl.deliveryInfo">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr class="active" style="color:black;">
                                        <th colspan="6" style="text-align: center; width: 1%;"><strong>PENGIRIMAN</strong></th>
                                    </tr>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 5%;">Tgl Kirim</th>
                                        <th style="text-align: center; width: 5%;">No. Mobil</th>
                                        <th style="text-align: center; width: 5%;">Supir</th>
                                        <th style="text-align: center; width: 5%;">Kode Kirim</th>
                                        <th style="text-align: center; width: 5%;">Keterangan</th>
                                        <th style="text-align: center; width: 5%;">User</th>
                                    </tr>
                                    <tr style="color:black; text-align: center;">
                                        <td>
                                            {{delivery.items.deliveries.createdDate ? delivery.items.deliveries.createdDate : delivery.items.deliveries.date | date: 'dd-MM-yyyy'}}
                                        </td>
                                        <td>
                                            {{delivery.items.deliveries.vehicleNumber}}
                                        </td>
                                        <td>
                                            {{delivery.driver[0].name}}
                                        </td>
                                        <td>
                                            {{delivery.items.deliveries.deliveryCode}}
                                        </td>
                                        <td>
                                            {{delivery.items.deliveries.notes}}
                                        </td>
                                        <td>
                                            {{delivery.user[0].name}}
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <br />
                        <div class="table-responsive" ng-show="ctrl.viewType == 2 && ctrl.selectedEntity.returned">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr class="warning" style="color:black;">
                                        <th colspan="6" style="text-align: center; width: 1%;"><strong>RETUR</strong></th>
                                    </tr>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 5%;">Tgl Retur</th>
                                        <th style="text-align: center; width: 5%;">Penerima</th>
                                        <th style="text-align: center; width: 5%;">Ttd</th>
                                        <th style="text-align: center; width: 5%;">Stempel</th>
                                        <th style="text-align: center; width: 5%;">Kwitansi</th>
                                        <th style="text-align: center; width: 5%;">User</th>
                                    </tr>
                                    <tr style="color:black; text-align: center;">
                                        <td>
                                            {{ctrl.selectedEntity.returnInfo.modified.date | date: 'dd-MM-yyyy'}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.returnInfo.concernedPerson}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.returnInfo.signed ? 'V' : 'X'}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.returnInfo.stamped ? 'V' : 'X'}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.returnInfo.receipt ? 'V' : 'X'}}
                                        </td>
                                        <td>
                                            {{ctrl.selectedEntity.returnInfo.modified.user.name}}
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                                           
                    </div>
                    <div class="widget-footer" ng-show="ctrl.entities.length >= ctrl.paging.max && ctrl.viewType == 1">
                        <div class="input-group">
                            <button ng-disabled="(ctrl.paging.page) == 1" href="#" class="btn btn-link" ng-click="ctrl.prev()">
                                <i class="fa fa-backward"></i>
                            </button>
                            {{ctrl.paging.page}}
                            <button ng-disabled="ctrl.entities.length == 0" href="#" class="btn btn-link" ng-click="ctrl.next()">
                                <i class="fa fa-forward"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
