<section id="widget-grid">
    <div class="row">
        <article class="col col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-history"></i></span>
                    <h2>Surat Jalan</h2>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="minimize">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="!ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="maximize">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar" ng-show="ctrl.showToolbar">
                            <form class="smart-form">
                                <legend>Filter data</legend>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Spb" ng-model="ctrl.filters.spbNumber" />
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Penerima" ng-model="ctrl.filters.receiverName" />
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.sender"
                                                       placeholder="Pengirim"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('client', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="senderFilter" class="form-control" />
                                                <i ng-show="senderFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.paymentType"
                                                       placeholder="Cara Bayar"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('paymentType', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="paymentTypeFilter" class="form-control" />
                                                <i ng-show="paymentTypeFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Dari Tanggal"
                                                           id="from-transaction-date" type="text" ng-model="ctrl.filters.from" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Sampai Tanggal"
                                                           id="to-transaction-date" type="text" ng-model="ctrl.filters.to" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.regionSource"
                                                       ng-click="ctrl.filters.regionDest = null"
                                                       placeholder="Regional Asal"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="regionSourceFilter" class="form-control" />
                                                <i ng-show="regionSourceFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.regionDest"
                                                       ng-click="ctrl.filters.regionSource = null"
                                                       placeholder="Regional Tujuan"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="regionDestFilter" class="form-control" />
                                                <i ng-show="regionDestFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()" ng-show="ctrl.viewType == 1">
                                        <i class="fa fa-search"></i> Cari
                                    </a>
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.viewShipping()" ng-show="ctrl.viewType == 2">
                                        <i class="fa fa-arrow-left"></i> Kembali
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                            ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox" ng-show="ctrl.viewType == 1">
                                <thead>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 4%;">Tanggal</th>
                                        <th style="text-align: center; width: 5%;">Spb</th>
                                        <th style="text-align: center; width: 9%;">Pengirim</th>
                                        <th style="text-align: center; width: 8%;">Penerima</th>                                        
                                        <th style="text-align: center; width: 4%;">Tujuan</th>
                                        <th style="text-align: center; width: 4%;">Cara Bayar</th>
                                        <th style="text-align: center; width: 2%;">Berat</th>
                                        <th style="text-align: center; width: 2%;">Koli</th>
                                        <th style="text-align: center; width: 2%;">Detil</th>
                                    </tr>
                                    <tr ng-show="ctrl.loadingData" style="color:black;">
                                        <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                            <img src="../assets/img/ajax-loader.gif">
                                        </td>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="entity in ctrl.entities">                                  
                                    <tr ng-repeat="item in entity.items" ng-show="!ctrl.loadingData" style="color:black;">
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.date | date:'dd-MM-yyyy'}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.spbNumber}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.sender.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.receiver.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.destination.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.payment.type.name}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.weight}}
                                        </td>
                                        <td ng-if="$first" rowspan="{{entity.items.length}}">
                                            {{entity.colli}}
                                        </td>
                                       
                                        <td>
                                            <a href="#" class="txt-color-white btn-sm btn-primary" title="Edit" ng-click="ctrl.viewDetail(entity)">
                                                <i class="fa fa-list"></i> Detil
                                            </a>
                                        </td>
                                        <td ng-if="entity.returned && $first" rowspan="{{entity.items.length}}">
                                            <p ng-if="entity.confirmed" style="text-align:center;" class="label label-pink txt-color-white">
                                                SJ Balik
                                            </p>
                                            <p ng-if="!entity.confirmed" style="text-align:center;" class="label label-purple txt-color-white">
                                                Retur
                                            </p>
                                        </td>
                                       
                                        <!--
                                        <td ng-if="!entity.returned">                                                    
                                            <p ng-if="item.status == 'Belum Terekap'" style="text-align:center;" class="label label-grey txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terekap Sebagian'" style="text-align:center;" class="label label-warning txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.quantity-item.colli.available}}/{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terekap'" style="text-align:center;" class="label label-success txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terkirim Sebagian'" style="text-align:center;" class="label label-warning txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.delivered}}/{{item.colli.quantity}}</span>
                                            </p>
                                            <p ng-if="item.status == 'Terkirim'" style="text-align:center;" class="label label-info txt-color-white">
                                                {{item.status}} <span class="btn badge badge-inverse badge-btn pull-right">{{item.colli.delivered}}</span>
                                            </p>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox" ng-show="ctrl.viewType == 2">
                                <thead>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 7%;">Spb</th>
                                        <th style="text-align: center; width: 7%;">Jenis</th>
                                        <th style="text-align: center; width: 7%;">Bungkus</th>
                                        <th style="text-align: center; width: 12%;">Isi</th>
                                        <th style="text-align: center; width: 4%;">Panjang</th>
                                        <th style="text-align: center; width: 4%;">Lebar</th>
                                        <th style="text-align: center; width: 4%;">Tinggi</th>
                                        <th style="text-align: center; width: 4%;">Berat</th>
                                        <th style="text-align: center; width: 4%;">Koli</th>
                                        <th style="text-align: center; width: 12%;">Bea Angkut</th>
                                        <th style="text-align: center; width: 12%;">Status</th>
                                        <th style="text-align: center; width: 2%;">Audit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="ctrl.loadingData">
                                        <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                            <img src="../assets/img/ajax-loader.gif">
                                        </td>
                                    </tr>
                                    <tr ng-repeat="entity in ctrl.selectedEntity.items" ng-show="!ctrl.loadingData" style="color:black;">
                                        <td>{{ctrl.selectedEntity.spbNumber}}</td>
                                        <td>{{entity.itemType.name}}</td>
                                        <td>{{entity.packingType.name}}</td>
                                        <td>{{entity.content}}</td>
                                        <td>{{entity.dimensions.length}}</td>
                                        <td>{{entity.dimensions.width}}</td>
                                        <td>{{entity.dimensions.height}}</td>
                                        <td>{{entity.dimensions.weight}}</td>
                                        <td>{{entity.colli.quantity}}</td>
                                        <td>{{entity.cost.shipping | currency: 'Rp. ' : 2}}</td>
                                        <td>
                                            <p ng-if="entity.status == 'Belum Terekap'"
                                               style="text-align:center;" class="center-block padding-3 label label-danger txt-color-white">
                                                {{entity.status}}
                                            </p>
                                            <p ng-if="entity.status == 'Terekap' || entity.status == 'Terekap Sebagian'"
                                               style="text-align:center;" class="center-block padding-3 label label-warning txt-color-white">
                                                {{entity.status}}
                                            </p>
                                            <p ng-if="entity.status == 'Terkirim' || entity.status == 'Terkirim Sebagian'"
                                               style="text-align:center;" class="center-block padding-3 label label-success txt-color-white">
                                                {{entity.status}}
                                            </p>
                                            <p ng-if="entity.status == 'Retur' || entity.status == 'Surat Jalan Balik'"
                                               style="text-align:center;" class="center-block padding-3 label label-success txt-color-white">
                                                {{entity.status}}
                                            </p>
                                        </td>
                                        <td style="text-align:center;">
                                            <i class="fa fa-check" ng-show="entity.audited"></i>
                                            <i class="fa fa-remove" ng-show="!entity.audited"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="widget-footer" ng-show="ctrl.entities.length >= ctrl.paging.max">
                        <div class="input-group">
                            <button ng-disabled="(ctrl.paging.page) == 1" href="#" class="btn btn-link" ng-click="ctrl.prev()">
                                <i class="fa fa-backward"></i>
                            </button>
                            {{ctrl.paging.page}}
                            <button ng-disabled="ctrl.entities.length == 0" href="#" class="btn btn-link" ng-click="ctrl.next()">
                                <i class="fa fa-forward"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
