<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-12">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <h5> Belum Terekap <span class="txt-color-blue">{{ctrl.belumTerekap}}</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Terekap <span class="txt-color-blue">{{ctrl.terekap}}</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Terkirim <span class="txt-color-blue">{{ctrl.terkirim}}</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Bea Angkut <span class="txt-color-blue">{{ctrl.overall[0].price ? ctrl.overall[0].price : 0 | currency: 'Rp. ' : 2}}</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Koli <span class="txt-color-purple">{{ctrl.overall[0].colli ? ctrl.overall[0].colli : 0}}</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Berat <span class="txt-color-greenDark">{{ctrl.overall[0].weight ? ctrl.overall[0].weight : 0}}</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Shipping <span class="txt-color-greenDark">{{ctrl.overall[0].shippings ? ctrl.overall[0].shippings : 0}}</span></h5>
                </li>
            </ul>
        </div>

        <article class="col col-sm-12 col-md-12 col-lg-12" ng-show="ctrl.viewType == 1">
            <div class="jarviswidget jarviswidget-color-blueDark" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>Summary</h2>
                    <ul class="nav nav-tabs pull-right in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('destination')" aria-expanded="true">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Tujuan</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('sender')" aria-expanded="true">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Klien</span>
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('paymentType')" aria-expanded="false">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Cara Bayar</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('paymentStatus')">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Status Bayar</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('region')">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Regional</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('priceBar')">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Bar Harga</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('colliBar')">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Bar Coli</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('weightBar')">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Bar Berat</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#" ng-click="ctrl.onSummaryChanges('shippingBar')">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-mobile hidden-tablet">Bar Transaksi</span>
                            </a>
                        </li>
                    </ul>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding" data-block="widget-content">
                        <div class="widget-body-toolbar" data-block="toolbar" ng-show="ctrl.summaryType == 1">
                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-12">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Tanggal" id="summary-date" type="text" ng-model="ctrl.filters.date" />
                                                </div>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar" ng-show="ctrl.summaryType == 1">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                        <i class="fa fa-search"></i> Cari
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                            ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="table-responsive" ng-show="ctrl.summaryType == 1">
                                <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                    <thead>
                                        <tr style="color:black;">
                                            <th style="text-align: center; width: 1%;">No</th>
                                            <th id="dynamicHeader" style="text-align: center; width: 15%;">Item</th>
                                            <th style="text-align: center; width: 3%;">koli</th>
                                            <th style="text-align: center; width: 3%;">Berat</th>
                                            <th style="text-align: center; width: 5%;">Bea Angkut</th>
                                            <th style="text-align: center; width: 5%;">Total Shipping</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="ctrl.loadingData">
                                            <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                                <img src="../assets/img/ajax-loader.gif">
                                            </td>
                                        </tr>
                                        <tr ng-repeat="entity in ctrl.entities" ng-show="!ctrl.loadingData" style="color:black;">
                                            <td> {{((ctrl.paging.page - 1) * ctrl.paging.max) + $index + 1}} </td>
                                            <td> <a href="#" ng-model="entity.setNgModel" ng-click="ctrl.viewDetails(entity._id)">{{entity.category[0].name ? entity.category[0].name : entity._id}} </a></td>
                                            <td> {{entity.colli}} </td>
                                            <td> {{entity.weight}} </td>
                                            <td> {{entity.price | currency: 'Rp. ' : 2}} </td>
                                            <td> {{entity.shippings}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <highchart ng-if="ctrl.summaryType == 2 && ctrl.chartType == 1" config="ctrl.chartConfig[ctrl.chartType]"></highchart>
                            <highchart ng-if="ctrl.summaryType == 2 && ctrl.chartType == 2" config="ctrl.chartConfig[ctrl.chartType]"></highchart>
                            <highchart ng-if="ctrl.summaryType == 2 && ctrl.chartType == 3" config="ctrl.chartConfig[ctrl.chartType]"></highchart>
                            <highchart ng-if="ctrl.summaryType == 2 && ctrl.chartType == 4" config="ctrl.chartConfig[ctrl.chartType]"></highchart>

                        </div>
                        <div class="widget-footer" ng-show="ctrl.summaryType == 1">
                            <div class="input-group">
                                <button ng-disabled="(ctrl.paging.page) == 1" href="#" class="btn btn-link" ng-click="ctrl.prev()">
                                    <i class="fa fa-backward"></i>
                                </button>
                                {{ctrl.paging.page}}
                                <button ng-disabled="ctrl.entities.length < ctrl.paging.max" href="#" class="btn btn-link" ng-click="ctrl.next()">
                                    <i class="fa fa-forward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="col col-sm-12 col-md-12 col-lg-12" ng-show="ctrl.viewType == 2">
            <div class="jarviswidget jarviswidget-color-blueDark" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>Summary</h2>
                </header>
                <div role="content">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <div class="widget-body no-padding" data-block="widget-content">
                        <div class="widget-body-toolbar" data-block="toolbar">
                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-12">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Tanggal"
                                                           id="detail-date" type="text" ng-model="ctrl.filters.date" />
                                                </div>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.viewSummary()">
                                        <i class="fa fa-arrow-left"></i> Kembali
                                    </a>
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                        <i class="fa fa-search"></i> Cari
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                            ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                    <thead>
                                        <tr style="color:black;">
                                            <th style="text-align: center; width: 1%;">No</th>
                                            <th style="text-align: center; width: 5%;">Tanggal</th>
                                            <th style="text-align: center; width: 5%;">Spb</th>
                                            <th style="text-align: center; width: 17%;">Pengirim</th>
                                            <th style="text-align: center; width: 8%;">Tujuan</th>
                                            <th style="text-align: center; width: 3%;">Koli</th>
                                            <th style="text-align: center; width: 3%;">Berat</th>
                                            <th style="text-align: center; width: 5%;">Harga</th>
                                            <th style="text-align: center; width: 10%;">Cara Bayar</th>
                                            <th style="text-align: center; width: 3%;">Item</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="ctrl.loadingData">
                                            <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                                <img src="../assets/img/ajax-loader.gif">
                                            </td>
                                        </tr>
                                        <tr ng-repeat="entity in ctrl.entities" ng-show="!ctrl.loadingData" style="color:black;">
                                            <td> {{((ctrl.paging.page - 1) * ctrl.paging.max) + $index + 1}} </td>
                                            <td> {{entity.date | date:'dd-MM-yyyy'}}</td>
                                            <td> {{entity.spbNumber}}</td>
                                            <td> {{entity.sender.name}}</td>
                                            <td> {{entity.destination.name}}</td>
                                            <td> {{entity.colli}} </td>
                                            <td> {{entity.weight}} </td>
                                            <td> {{entity.cost.total | currency: 'Rp. ' : 2}} </td>
                                            <td> {{entity.payment.type.name}} </td>
                                            <td> {{(entity.items).length}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="widget-footer">
                            <div class="input-group">
                                <button ng-disabled="(ctrl.paging.page) == 1" href="#" class="btn btn-link" ng-click="ctrl.prev()">
                                    <i class="fa fa-backward"></i>
                                </button>
                                {{ctrl.paging.page}}
                                <button ng-disabled="ctrl.entities.length < ctrl.paging.max" href="#" class="btn btn-link" ng-click="ctrl.next()">
                                    <i class="fa fa-forward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
   
</section>
