<section id="widget-grid">
    <div class="row">
        <article class="col col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-envelope"></i></span>
                    <h2>Tagihan</h2>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="minimize">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="!ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="maximize">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <ul class="nav nav-tabs pull-right in" id="myTab">
                        <li ng-class="{'active': ctrl.tab == 'create'}">
                            <a data-toggle="tab" href="#" ng-click="ctrl.onTabChange('create')"><span class="hidden-mobile hidden-tablet">Buat Tagihan</span></a>
                        </li>
                        <li ng-class="{'active': ctrl.tab == 'change'}">
                            <a data-toggle="tab" href="#" ng-click="ctrl.onTabChange('change')"><span class="hidden-mobile hidden-tablet">Pindah Tagihan</span></a>
                        </li>
                        <li ng-class="{'active': ctrl.tab == 'list'}">
                            <a data-toggle="tab" href="#" ng-click="ctrl.onTabChange('list')"><span class="hidden-mobile hidden-tablet">Daftar Tagihan</span></a>
                        </li>
                    </ul>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="tab-content">
                            <div ng-show="ctrl.tab == 'create'">
                                <div class="widget-body-toolbar" ng-show="ctrl.showToolbar">
                                    <form class="smart-form">
                                        <legend>Filter data</legend>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <input type="text" placeholder="Spb" ng-model="ctrl.filters.spbNumber" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <input type="text"
                                                               ng-model="ctrl.filters.sender"
                                                               placeholder="Pengirim"
                                                               uib-typeahead="data as data.name for data in ctrl.suggest('client', $viewValue)"
                                                               typeahead-min-length="2"
                                                               typeahead-loading="senderFilter" class="form-control" />
                                                        <i ng-show="senderFilter" class="glyphicon glyphicon-refresh"></i>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <input type="text"
                                                               ng-model="ctrl.filters.destination"
                                                               placeholder="Tujuan"
                                                               uib-typeahead="data as data.name for data in ctrl.suggest('location', $viewValue)"
                                                               typeahead-min-length="2"
                                                               typeahead-loading="destinationFilter" class="form-control" />
                                                        <i ng-show="destinationFilter" class="glyphicon glyphicon-refresh"></i>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <input type="text"
                                                               ng-model="ctrl.filters.regionSource"
                                                               placeholder="Regional Asal"
                                                               uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                               typeahead-min-length="2"
                                                               typeahead-loading="regionSourceFilter" class="form-control" />
                                                        <i ng-show="regionSourceFilter" class="glyphicon glyphicon-refresh"></i>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input datepicker class="form-control" placeholder="Dari Tanggal"
                                                                   id="from-transaction-date" type="text" ng-model="ctrl.filters.from" />
                                                        </div>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input datepicker class="form-control" placeholder="Sampai Tanggal"
                                                                   id="to-transaction-date" type="text" ng-model="ctrl.filters.to" />
                                                        </div>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>

                                    </form>
                                </div>
                                <div class="widget-body-toolbar">
                                    <form class="smart-form">
                                        <legend>Silahkan isi data berikut</legend>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-sm-12 col-md-12 col-lg-6">
                                                    <label class="input">
                                                        <input type="text" placeholder="Tertagih" ng-model="ctrl.to" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-6">
                                                    <label class="input">
                                                        <input type="text" placeholder="Lokasi" ng-model="ctrl.location" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-6">
                                                    <label class="input-group">
                                                        <input type="radio" ng-value="1" ng-model="ctrl.invoiceType"><i></i> Semua
                                                        <i></i>
                                                        <input type="radio" ng-value="2" ng-model="ctrl.invoiceType" value="N" disabled><i></i> Klien
                                                        <i></i>
                                                        <input type="radio" ng-value="3" ng-model="ctrl.invoiceType" value="N" disabled><i></i> Partner
                                                        <i></i>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="widget-body-toolbar">
                                    <div class="row">
                                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                            <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                                <i class="fa fa-search"></i> Cari
                                            </a>
                                            <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.create()">
                                                <i class="fa fa-envelope"></i> Buat Tagihan
                                            </a>
                                        </div>
                                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                            <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                                    ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="500">500</option>
                                                <option value="1000">1000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                        <thead>
                                            <tr style="color:black;">
                                                <th style="text-align: center; width: 1%;">
                                                    <input type="checkbox" ng-model="ctrl.checkedAll" ng-click="ctrl.toggleCheckAll()" ng-true-value="true" ng-false-value="false" />
                                                </th>
                                                <th style="text-align: center; width: 9%;">Spb</th>
                                                <th style="text-align: center; width: 9%;">Tanggal</th>
                                                <th style="text-align: center; width: 16%;">Pengirim</th>
                                                <th style="text-align: center; width: 10%;">Tujuan</th>
                                                <th style="text-align: center; width: 12%;">Penerima</th>
                                                <th style="text-align: center; width: 10%;">Bea Angkut</th>
                                                <th style="text-align: center; width: 10%;">Bea Ekspedisi</th>
                                                <th style="text-align: center; width: 12%;">No Tagihan</th>                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="ctrl.loadingData">
                                                <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                                    <img src="../assets/img/ajax-loader.gif">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="entity in ctrl.entities" style="color: black;" ng-show="!ctrl.loadingData">
                                                <td style="text-align: center;">
                                                    <input type="checkbox" ng-if="!entity.audited" ng-model="entity.checked" />
                                                </td>
                                                <td> {{entity.spbNumber}} </td>
                                                <td> {{entity.date | date:'dd-MM-yyyy'}} </td>
                                                <td> {{entity.sender.name}} </td>
                                                <td> {{entity.destination.name}}</td>
                                                <td> {{entity.receiver.name}}</td>
                                                <td> {{entity.cost.total | currency: 'Rp ' : 2}} </td>
                                                <td> {{entity.cost.expedition | currency: 'Rp ' : 2}} </td>
                                                <td> {{entity.invoice.all}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                            <div ng-show="ctrl.tab == 'change'">
                                <div class="widget-body-toolbar" ng-show="ctrl.showToolbar">
                                    <form class="smart-form">
                                        <legend>Filter data</legend>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-sm-12 col-md-12 col-lg-3">
                                                    <label class="input">
                                                        <input type="text" placeholder="Spb" ng-model="ctrl.filters.spbNumber" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-3">
                                                    <label class="input">
                                                        <input type="text" placeholder="Invoice" ng-model="ctrl.filters.invoiceNumber" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-3">
                                                    <label class="input">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input datepicker class="form-control" placeholder="Dari Tanggal"
                                                                   id="from-transaction-date-change" type="text" ng-model="ctrl.filters.from" />
                                                        </div>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-3">
                                                    <label class="input">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input datepicker class="form-control" placeholder="Sampai Tanggal"
                                                                   id="to-transaction-date-change" type="text" ng-model="ctrl.filters.to" />
                                                        </div>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="widget-body-toolbar">
                                    <p>*Hanya untuk tagian all (semua)</p>
                                    <form class="smart-form">
                                        <legend>Silahkan isi data berikut</legend>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-sm-12 col-md-12 col-lg-12">
                                                    <label class="input">
                                                        <input type="text" placeholder="Ke invoice (harus diisi)" ng-model="ctrl.toInvoice" />
                                                    </label>
                                                </section> 
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="widget-body-toolbar">
                                    <div class="row">
                                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                            <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                                <i class="fa fa-search"></i> Cari
                                            </a>
                                            <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.change()">
                                                <i class="fa fa-envelope"></i> Pindah
                                            </a>
                                        </div>
                                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                            <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                                    ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="500">500</option>
                                                <option value="1000">1000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                        <thead>
                                            <tr style="color:black;">
                                                <th style="text-align: center; width: 1%;">
                                                    <input type="checkbox" ng-model="ctrl.checkedAll" ng-click="ctrl.toggleCheckAll()" ng-true-value="true" ng-false-value="false" />
                                                </th>
                                                <th style="text-align: center; width: 8%;">Spb</th>
                                                <th style="text-align: center; width: 16%;">Pengirim</th>
                                                <th style="text-align: center; width: 8%;">Tujuan</th>
                                                <th style="text-align: center; width: 16%;">Penerima</th>
                                                <th style="text-align: center; width: 10%;">Bea Angkut</th>
                                                <th style="text-align: center; width: 10%;">Bea Ekspedisi</th>
                                                <th style="text-align: center; width: 10%;">No Tagihan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="ctrl.loadingData">
                                                <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                                    <img src="../assets/img/ajax-loader.gif">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="entity in ctrl.entities" style="color: black;" ng-show="!ctrl.loadingData">
                                                <td style="text-align: center;">
                                                    <input type="checkbox" ng-if="!entity.audited" ng-model="entity.checked" />
                                                </td>
                                                <td> {{entity.spbNumber}} </td>
                                                <td> {{entity.sender.name}} </td>
                                                <td> {{entity.destination.name}}</td>
                                                <td> {{entity.receiver.name}}</td>
                                                <td> {{entity.cost.total | currency: 'Rp ' : 2}} </td>
                                                <td> {{entity.cost.expedition | currency: 'Rp ' : 2}} </td>
                                                <td> {{entity.invoice.all}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div ng-show="ctrl.tab == 'list'">
                                <div class="widget-body-toolbar" ng-show="ctrl.showToolbar">
                                    <form class="smart-form">
                                        <legend>Filter data</legend>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <input type="text" placeholder="No Tagihan" ng-model="ctrl.filters.invoiceNumber" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input datepicker class="form-control" placeholder="Dari Tanggal"
                                                                   id="from-invoice-date" type="text" ng-model="ctrl.filters.fromInvoice" />
                                                        </div>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12 col-md-12 col-lg-4">
                                                    <label class="input">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input datepicker class="form-control" placeholder="Sampai Tanggal"
                                                                   id="to-invoice-date" type="text" ng-model="ctrl.filters.toInvoice" />
                                                        </div>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="widget-body-toolbar">
                                    <div class="row">
                                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                            <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                                <i class="fa fa-search"></i> Cari
                                            </a>
                                        </div>
                                        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                            <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                                    ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="500">500</option>
                                                <option value="1000">1000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                        <thead>
                                            <tr style="color:black;">
                                                <th style="text-align: center; width: 6%;">No Tagihan</th>
                                                <th style="text-align: center; width: 6%;">Tanggal</th>
                                                <th style="text-align: center; width: 15%;">Tertagih</th>
                                                <th style="text-align: center; width: 5%;">Lokasi</th>
                                                <th style="text-align: center; width: 4%;">Jenis</th>
                                                <th style="text-align: center; width: 3%;">Kiriman</th>
                                                <th style="text-align: center; width: 14%;">Cetak</th>
                                                <th style="text-align: center; width: 8%;">Aksi</th>
                                            </tr>
                                            <tr ng-show="ctrl.loadingData">
                                                <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                                    <img src="../assets/img/ajax-loader.gif">
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="entity in ctrl.entities">                                        
                                            <tr style="color: black;" ng-if="entity != ctrl.activeEntity" ng-show="!ctrl.loadingData">
                                                <td> {{entity.number}} </td>
                                                <td> {{entity.created.date | date:'dd-MM-yyyy'}} </td>
                                                <td> {{entity.to}} </td>
                                                <td> {{entity.location}}</td>
                                                <td> {{entity.type}}</td>
                                                <td style="text-align:right;"> {{entity.shippings.length}} </td>
                                                <td style="text-align:center;">
                                                    <a href="#" class="txt-color-white btn-sm btn-success" title="Print All" ng-click="ctrl.openPrintOption(entity,1)">
                                                        <i class="fa fa-file-pdf-o"></i> Semua
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="txt-color-white btn-sm btn-success" title="Print Client" ng-click="ctrl.openPrintOption(entity,2)">
                                                        <i class="fa fa-file-pdf-o"></i> Klien
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="txt-color-white btn-sm btn-success" title="Print Partner" ng-click="ctrl.openPrintOption(entity,3)">
                                                        <i class="fa fa-file-pdf-o"></i> Partner
                                                    </a>
                                                </td>
                                                <td style="text-align:center;">
                                                    <a href="#" class="txt-color-white btn-sm btn-primary" title="Edit" ng-click="ctrl.editInvoice(entity)">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>                                                  
                                                </td>
                                            </tr>
                                            <tr class="warning" ng-if="entity == ctrl.activeEntity" style="color: black;" ng-show="!ctrl.loadingData">
                                                <td class="vert-align"> {{entity.number}} </td>
                                                <td class="vert-align"> {{entity.created.date | date:'dd-MM-yyyy'}} </td>
                                                <td class="vert-align">
                                                    <input class="form-control" ng-model="entity.to" type="text">
                                                </td>
                                                <td class="vert-align">
                                                    <input class="form-control" ng-model="entity.location" type="text">
                                                </td>
                                                <td class="vert-align"> {{entity.type}}</td>
                                                <td class="vert-align" style="text-align:right;"> {{entity.shippings.length}} </td>
                                                <td class="vert-align" style="text-align:center;">
                                                    <a href="#" class="txt-color-white btn-sm btn-success" title="Print All" ng-click="ctrl.openPrintOption(entity,1)">
                                                        <i class="fa fa-file-pdf-o"></i> Semua
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="txt-color-white btn-sm btn-success" title="Print Client" ng-click="ctrl.openPrintOption(entity,2)">
                                                        <i class="fa fa-file-pdf-o"></i> Klien
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="txt-color-white btn-sm btn-success" title="Print Partner" ng-click="ctrl.openPrintOption(entity,3)">
                                                        <i class="fa fa-file-pdf-o"></i> Partner
                                                    </a>                                               
                                                </td>
                                                <td class="vert-align" style="text-align:center;">
                                                    <a href="#" class="txt-color-white btn-sm btn-primary" title="Update" ng-click="ctrl.updateInvoice(entity)">
                                                        <i class="fa fa-save"></i> Simpan
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="txt-color-white btn-sm btn-primary" title="Cancel" ng-click="ctrl.cancelInvoice()">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                      
                          </div>
                    </div>
                    <div class="widget-footer" ng-show="ctrl.entities.length >= ctrl.paging.max">
                        <div class="input-group">
                            <button ng-disabled="(ctrl.paging.page) == 1" href="#" class="btn btn-link" ng-click="ctrl.prev()">
                                <i class="fa fa-backward"></i>
                            </button>
                            {{ctrl.paging.page}}
                            <button ng-disabled="ctrl.entities.length == 0" href="#" class="btn btn-link" ng-click="ctrl.next()">
                                <i class="fa fa-forward"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade in" id="print-option-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="ctrl.closePrintOption()" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Print Option</h4>
                        </div>
                        <div class="modal-body">
                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-12">
                                            <label>Orientation</label>
                                            <label class="select">
                                                <select ng-model="ctrl.orientation">
                                                    <option value="P">
                                                        Portrait
                                                    </option>
                                                    <option value="L">
                                                        Landscape
                                                    </option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-12">
                                            <label>Paper Size</label>
                                            <label class="input">
                                                <input type="text" ng-model="ctrl.paper" />
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button class="btn btn-primary" ng-click="ctrl.closePrintOption()">
                                        Cancel
                                    </button>
                                    <button class="btn btn-primary" ng-click="ctrl.print()">
                                        Cetak
                                    </button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
