<section id="widget-grid">
    <div class="row">
        <article class="col col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget jarviswidget-color-blueDark" role="widget" ng-show="ctrl.viewType == 0">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-money"></i></span>
                    <h2>Pembayaran</h2>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="minimize">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="!ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="maximize">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar" ng-show="ctrl.showToolbar">
                            <form class="smart-form">
                                <legend>Filter data</legend>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Spb" ng-model="ctrl.filters.spbNumber" />
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Invoice" ng-model="ctrl.filters.invoice" />
                                            </label>
                                        </section>                                    
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.sender"
                                                       placeholder="Pengirim"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('client', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="senderFilter" class="form-control" />
                                                <i ng-show="senderFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <select class="form-control" ng-model="ctrl.filters.paymentTypeNull">
                                                    <option value="">&nbsp Isi Cara Bayar</option>
                                                    <option value="kosong">&nbsp Cara Bayar Kosong</option>
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.paymentType"
                                                       placeholder="Cara Bayar"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('paymentType', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="paymentTypeFilter" class="form-control" />
                                                <i ng-show="paymentTypeFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.regionDest"
                                                       placeholder="Regional Tujuan"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="regionDestFilter" class="form-control" />
                                                <i ng-show="regionDestFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.regionSource"
                                                       placeholder="Regional Asal"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="regionSourceFilter" class="form-control" />
                                                <i ng-show="regionSourceFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <select class="form-control" ng-model="ctrl.filters.paymentStatus">
                                                    <option value="">&nbsp Status Bayar</option>
                                                    <option value="Terbayar">&nbsp Terbayar</option>
                                                    <option value="Terbayar Sebagian">&nbsp Terbayar Sebagian</option>
                                                    <option value="Belum Terbayar">&nbsp Belum Terbayar</option>
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Dari Tanggal Transfer"
                                                           id="from-transfer-date" type="text" ng-model="ctrl.filters.fromTransferDate" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Dari Tanggal Input"
                                                           id="from-input-date" type="text" ng-model="ctrl.filters.fromInputDate" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Dari Tanggal"
                                                           id="from-transaction-date" type="text" ng-model="ctrl.filters.from" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Sampai Tanggal"
                                                           id="to-transaction-date" type="text" ng-model="ctrl.filters.to" />
                                                </div>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <form class="smart-form">
                                <legend>Silahkan isi data berikut</legend>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-6">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.paymentType"
                                                       placeholder="Cara Bayar"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('paymentType', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="paymentTypeInput" class="form-control" />
                                                <i ng-show="paymentTypeInput" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-6">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Tanggal Transfer"
                                                           id="transfer-date" type="text" ng-model="ctrl.date" />
                                                </div>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                        <i class="fa fa-search"></i> Cari
                                    </a>
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.pay()">
                                        <i class="fa fa-money"></i> Bayar
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                            ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 1%;">
                                            <input type="checkbox" ng-model="ctrl.checkedAll" ng-click="ctrl.toggleCheckAll()" ng-true-value="true" ng-false-value="false" />
                                        </th>
                                        <th style="text-align: center; width: 7%;">Spb</th>
                                        <th style="text-align: center; width: 13%;">Pengirim</th>
                                        <th style="text-align: center; width: 7%;">Bank</th>
                                        <th style="text-align: center; width: 2%;">Keterangan</th>
                                        <th style="text-align: center; width: 7%;">Cara Bayar</th>
                                        <th style="text-align: center; width: 5%;">Status</th>
                                        <th style="text-align: center; width: 10%;">Total</th>
                                        <th style="text-align: center; width: 10%;">Terbayar</th>
                                        <th style="text-align: center; width: 6%;">Tahap</th>
                                        <th style="text-align: center; width: 9%;">Bayar</th>
                                        <th style="text-align: center; width: 2%;">Audit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="ctrl.loadingData">
                                        <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                            <img src="../assets/img/ajax-loader.gif">
                                        </td>
                                    </tr>
                                    <tr ng-repeat="entity in ctrl.entities" ng-show="!ctrl.loadingData" style="color:black;">
                                        <td style="text-align: center;">
                                            <input type="checkbox" ng-if="!entity.audited" ng-model="entity.checked" />
                                        </td>
                                        <td>
                                            {{entity.spbNumber}}
                                        </td>
                                        <td>
                                            {{entity.sender.name}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="entity.viewModel.bank" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="entity.viewModel.notes" />
                                        </td>
                                        <td>
                                            {{entity.payment.type.name}}
                                        </td>
                                        <td>
                                            <p ng-if="entity.payment.status == 'Belum Terbayar'" style="text-align:center;" class="center-block padding-3 label label-danger txt-color-white">
                                                Belum
                                            </p>
                                            <p ng-if="entity.payment.status == 'Terbayar Sebagian'" style="text-align:center;" class="center-block padding-3 label label-warning txt-color-white">
                                                Sebagian
                                            </p>
                                            <p ng-if="entity.payment.status == 'Terbayar'" style="text-align:center;" class="center-block padding-3 label label-success txt-color-white">
                                                Terbayar
                                            </p>
                                        </td>
                                        <td>
                                            {{entity.cost.total | currency: 'Rp. ' : 2}}
                                        </td>
                                        <td>
                                            {{entity.payment.paid | currency: 'Rp. ' : 2}}
                                        </td>
                                        <td>
                                            <a href="#" ng-click="ctrl.viewPhases(entity)">{{entity.payment.phases.length}} x bayar</a>
                                        </td>
                                        <td style="text-align:right;">
                                            <input type="text" class="form-control" ng-model="entity.viewModel.amount" ng-init="entity.viewModel.amount=''" />
                                        </td>
                                        <td style="text-align:center;">
                                            <i class="fa fa-check" ng-show="entity.audited"></i>
                                            <i class="fa fa-remove" ng-show="!entity.audited"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="input-group">
                            <button ng-disabled="(ctrl.paging.page) == 1" href="#" class="btn btn-link" ng-click="ctrl.prev()">
                                <i class="fa fa-backward"></i>
                            </button>
                            {{ctrl.paging.page}}
                            <button ng-disabled="ctrl.entities.length == 0" href="#" class="btn btn-link" ng-click="ctrl.next()">
                                <i class="fa fa-forward"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jarviswidget jarviswidget-color-blueDark" role="widget" ng-show="ctrl.viewType == 1">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-money"></i></span>
                    <h2>Catatan Tahapan Pembayaran</h2>
                    <div class="jarviswidget-ctrls" role="menu"></div>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.viewPayments()">
                                        <i class="fa fa-arrow-left"></i> Kembali
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 6%;">Spb</th>
                                        <th style="text-align: center; width: 8%;">Tanggal Input</th>
                                        <th style="text-align: center; width: 8%;">Bank</th>
                                        <th style="text-align: center; width: 10%;">Keterangan</th>                                       
                                        <th style="text-align: center; width: 8%;">Tanggal Transfer</th>
                                        <th style="text-align: center; width: 10%;">Jumlah</th>
                                        <th style="text-align: center; width: 10%;">Aksi</th>
                                    </tr>
                                    <tr ng-show="ctrl.loadingData">
                                        <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                            <img src="../assets/img/ajax-loader.gif">
                                        </td>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="entity in ctrl.selectedEntity.payment.phases">                                   
                                    <tr ng-if="entity != ctrl.activeEntity" ng-show="!ctrl.loadingData">
                                        <td>
                                            {{ctrl.selectedEntity.spbNumber}}
                                        </td>
                                        <td>
                                            {{entity.date | date:'dd-MM-yyyy'}}
                                        </td>
                                        <td>
                                            {{entity.bank}}
                                        </td>
                                        <td>
                                            {{entity.notes}}
                                        </td>                                       
                                        <td>
                                            {{entity.transferDate | date:'dd-MM-yyyy'}}
                                        </td>
                                        <td>
                                            {{entity.amount | currency: 'Rp. ' : 2}}
                                        </td>
                                        <td style="text-align:center;">
                                            <a href="#" class="txt-color-white btn-sm btn-primary" title="Edit" ng-click="ctrl.editPay(entity)">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            &nbsp;
                                            <a href="#" class="txt-color-white btn-sm btn-danger" title="Hapus" ng-click="ctrl.deletePay(entity)">
                                                <i class="fa fa-remove"></i> Hapus
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="warning" ng-if="entity == ctrl.activeEntity" ng-show="!ctrl.loadingData">
                                        <td class="vert-align">
                                            {{ctrl.selectedEntity.spbNumber}}
                                        </td>
                                        <td class="vert-align">
                                            {{entity.date | date:'dd-MM-yyyy'}}
                                        </td>
                                        <td class="vert-align">
                                            <input class="form-control" ng-model="entity.bank" type="text">
                                        </td>
                                        <td class="vert-align">
                                            <input class="form-control" ng-model="entity.notes" type="text">
                                        </td>                                     
                                        <td class="vert-align">
                                            <input datepicker class="form-control" placeholder="Tanggal Transfer"
                                                   id="data-transfer-date" type="text" ng-model="ctrl.dataTransferDate" />
                                        </td>
                                        <td class="vert-align">
                                            <input class="form-control" ng-model="entity.amount" type="text">
                                        </td>
                                        <td class="vert-align" style="text-align:center;">
                                            <a href="#" class="txt-color-white btn-sm btn-primary" title="Update" ng-click="ctrl.updatePay(entity)">
                                                <i class="fa fa-save"></i> Simpan
                                            </a>
                                            &nbsp;
                                            <a href="#" class="txt-color-white btn-sm btn-primary" title="Cancel" ng-click="ctrl.cancelPay(entity)">
                                                <i class="fa fa-remove"></i> Batal
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
