<section id="widget-grid">
    <div class="row">
        <article class="col col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon"> <i class="fa fa-check"></i></span>
                    <h2>Rekapitulasi</h2>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="minimize">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" ng-click="ctrl.showToolbar = !ctrl.showToolbar"
                           ng-show="!ctrl.showToolbar" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="maximize">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar" ng-show="ctrl.showToolbar">
                            <form class="smart-form">
                                <legend>Filter data</legend>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-4">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Spb" ng-model="ctrl.filters.spbNumber" />
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-4">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.regionDest"
                                                       placeholder="Regional Tujuan"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('region', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="regionDestFilter" class="form-control" />
                                                <i ng-show="regionDestFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-4">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.destination"
                                                       placeholder="Kota Tujuan"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('location', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="destinationFilter" class="form-control" />
                                                <i ng-show="destinationFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-6">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Dari Tanggal"
                                                           id="from-transaction-date" type="text" ng-model="ctrl.filters.from" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-6">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Sampai Tanggal"
                                                           id="to-transaction-date" type="text" ng-model="ctrl.filters.to" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-6" ng-show="ctrl.filterType == 1">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Tanggal rekap"
                                                           id="recap-date" type="text" ng-model="ctrl.filters.recapDate" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-6" ng-show="ctrl.filterType == 1">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.filters.driver"
                                                       placeholder="Supir rekap"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('driver', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="driverFilter" class="form-control" />
                                                <i ng-show="driverFilter" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <form class="smart-form">
                                <legend>Silahkan isi data berikut</legend>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="No Mobil" ng-model="ctrl.vehicleNumber" />
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.driver"
                                                       placeholder="Supir"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('driver', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="driverInput" class="form-control" />
                                                <i ng-show="driverInput" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <input type="text"
                                                       ng-model="ctrl.trainType"
                                                       placeholder="Jenis Kereta"
                                                       uib-typeahead="data as data.name for data in ctrl.suggest('trainType', $viewValue)"
                                                       typeahead-min-length="2"
                                                       typeahead-loading="trainTypeInput" class="form-control" />
                                                <i ng-show="trainTypeInput" class="glyphicon glyphicon-refresh"></i>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="input">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input datepicker class="form-control" placeholder="Tanggal Berangkat"
                                                           id="departure-date" type="text" ng-model="ctrl.departureDate" />
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-sm-12 col-md-12 col-lg-12">
                                            <label class="input-group">
                                                <input type="radio" ng-value="0" ng-click="ctrl.filter()" ng-model="ctrl.filterType"><i></i> Rekap
                                                <i></i>
                                                <input type="radio" ng-value="1" ng-click="ctrl.filter()" ng-model="ctrl.filterType"><i></i> Batal Rekap
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.filter()">
                                        <i class="fa fa-search"></i> Cari
                                    </a>
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.updateRecap()" ng-show="ctrl.filterType == 1">
                                        <i class="fa fa-check"></i> Perbaharui
                                    </a>
                                    <a href="#" class="btn btn-default" style="color: black;" ng-click="ctrl.process()">
                                        <i class="fa fa-check"></i> Proses
                                    </a>              
                                </div>
                                <div class="col-xs-9 col-sm-5 col-md-5 col-lg-6">
                                    <select name="dt_basic_length" aria-controls="dt_basic" class="form-control" ng-model="ctrl.paging.max"
                                            ng-change="ctrl.filter()" style="float:right; width:15%;" to-number>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                    <tr style="color:black;">
                                        <th style="text-align: center; width: 1%;">
                                            <input type="checkbox" ng-model="ctrl.checkedAll" ng-click="ctrl.toggleCheckAll()" ng-true-value="true" ng-false-value="false" />
                                        </th>
                                        <th style="text-align: center; width: 5%;">Spb</th>
                                        <th style="text-align: center; width: 10%;">Isi</th>
                                        <th style="text-align: center; width: 7%;" ng-if="ctrl.filterType == 0">Tersedia</th>
                                        <th style="text-align: center; width: 7%;">Warna Limas</th>
                                        <th style="text-align: center; width: 7%;">Warna Relasi</th>
                                        <th style="text-align: center; width: 7%;">Keterangan</th>
                                        <th style="text-align: center; width: 5%;" >Qty</th>
                                        <th style="text-align: center; width: 5%;">Weight</th>
                                        <th style="text-align: center; width: 5%;" ng-if="ctrl.filterType == 1">Tgl Berangkat</th>
                                        <th style="text-align: center; width: 5%;" ng-if="ctrl.filterType == 1">No Mobil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="ctrl.loadingData">
                                        <td style="text-align: center; margin: 10px 0px;" colspan="100">
                                            <img src="../assets/img/ajax-loader.gif">
                                        </td>
                                    </tr>
                                    <tr ng-repeat="entity in ctrl.entities" ng-show="!ctrl.loadingData" style="color:black;">
                                        <td style="text-align: center;">
                                            <input type="checkbox" ng-model="entity.checked" />
                                        </td>
                                        <td>
                                            {{entity.spbNumber}}
                                        </td>
                                        <td>
                                            {{entity.items.content}}
                                        </td>
                                        <td style="text-align:right;" ng-show="ctrl.filterType == 0">
                                            {{ctrl.filterType == 0 ? entity.items.colli.available : entity.items.recapitulations.available}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="entity.viewModel.limasColor" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="entity.viewModel.relationColor" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="entity.viewModel.notes" />
                                        </td>
                                        <td style="text-align:right;" ng-if="ctrl.filterType == 0">
                                            <input type="text" class="form-control" ng-model="entity.viewModel.quantity" />
                                        </td>
                                        <td style="text-align:right;" ng-if="ctrl.filterType == 1">
                                            {{entity.viewModel.quantity}}
                                        </td>
                                        <td style="text-align:right;">
                                            {{(entity.viewModel.weight / entity.items.colli.quantity)*entity.viewModel.quantity | number}}
                                        </td>
                                        <td style="text-align:right;" ng-if="ctrl.filterType == 1">
                                            {{entity.items.recapitulations.departureDate | date:'dd-MM-yyyy'}}
                                        </td>
                                        <td style="text-align:right;" ng-if="ctrl.filterType == 1">
                                            {{entity.items.recapitulations.vehicleNumber}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="input-group">
                            <button ng-disabled="(ctrl.paging.page) == 1" href="#" class="btn btn-link" ng-click="ctrl.prev()">
                                <i class="fa fa-backward"></i>
                            </button>
                            {{ctrl.paging.page}}
                            <button ng-disabled="ctrl.entities.length < ctrl.paging.max" href="#" class="btn btn-link" ng-click="ctrl.next()">
                                <i class="fa fa-forward"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
